
ENV=STG


# DEV environment
DEV_USERNAME=your_dev_username
DEV_PASSWORD=your_dev_password

# STG environment
STG_USERNAME=your_stg_username
STG_PASSWORD=your_stg_password

# PROD environment
PROD_USERNAME=your_prod_username
PROD_PASSWORD=your_prod_password

STG_LOCKOUT_USERNAME=your_stg_username
STG_LOCKOUT_PASSWORD=your_stg_password